@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  border-bottom: 0px;
  margin-bottom: 0px;
}

div.intro-box {
  background-color: black;
  width: 100%;
  background-image: url("https://cdn.glitch.com/925c43fc-2e23-4622-a12e-2a1d492356f5%2Fsyringe-and-pills-on-blue-background-3936421.jpg?v=1586406815613");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

th {
  width: 33.3%;
}
.whitetext{
  color: white;
}
div.dhhs-intro {
  width: 80%;
}
.take-action{
  font-size: 1.2em;
  text-align: center;
}
#big-statement{
  line-height: 1em;
  transition: 1s;
  font-size: 3em;
  font-family: 'Gotu', sans-serif;
  color: white;
}
#big-statement:hover{
  font-size: 4em;
}
/* body {
  line-height: 2.5em;
} */
div.box{
  background-color: black;
}
h2.featured-intro{
  font-size: 38px;
  color: white;
}
h2.smaller-statement{
  font-size: 35px;
  color: white;
}

#footer-credits {
  font-family: "IBM Plex Mono", monospace;
}

footer {
  border-top: 1px solid #a3a2a2;
  padding-left: 40px;
  padding-right: 40px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: black;
  margin-bottom: 0px;
}

.cm-text-large {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  line-height: normal;
}

.cm-nav {
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 40px;
}

#logo {
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

#footer-icon {
  border-radius: 9px;
}

@media only screen and (max-width: 600px) {
  .impressive-square {
    display: block;
    width: 100%;
  }
}
div.help-intro-box {
  background-color: black;
  width: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
