:root {
    --void: #0E0B16;
    --fuschia: #A239CA; 
    --eggshell: #E7DFDD;
    --neon-green: #ffffff;
}

.navbar {
    background-color: var(--void);
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--eggshell);
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 10px;
}



.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--fuschia);

}

.navbar .navbar-nav .nav-item .nav-link:hover #icon,
.navbar .navbar-nav .nav-item .nav-link:focus #icon,
.navbar .navbar-nav .nav-item .nav-link:active #icon {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}


.ilink{
    color:white;
    text-decoration:none;
}
.ilink:hover{
    color:white;
    text-decoration:none;
}
.site-footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#7F828B !important;
}
.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small    {
    margin:20px 0
}
.site-footer h6    {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a{
    color:#737373;
}
.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links{
    padding-left:0;
    list-style:none
}
.footer-links li{
    display:block
}
.footer-links a{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li{
    display:inline-block
}
.site-footer .social-icons{
    text-align:right
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
}
.copyright-text{
    margin:0
}
@media (max-width:991px){
    .site-footer [class^=col-]{
      margin-bottom:30px
    }
}
@media (max-width:767px){
    .site-footer{
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons{
      text-align:center
    }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
    }
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover{
    background-color:#3b5998
}
.social-icons a.twitter:hover{
    background-color:#00aced
}
.social-icons a.dribbble:hover{
    background-color:#ea4c89
}
@media (max-width:767px){
    .social-icons li.title{
      display:block;
      margin-right:0;
      font-weight:600
    }
}

.dropdown-item{
    background-color:#2C2F33 !important;
    color:white !important;
    font-family: 'Rubik', sans-serif;
}
.dropdown-item:hover{
    background-color:#23272A !important;
    color:white !important;
    font-family: 'Rubik', sans-serif;
}
.content{
    width: 80vw;
    margin: 0vw 9vw 2vw 9vw;
    display: inline-block;
    font-family: 'Maven Pro', sans-serif;
}
.ulink{
    color:#7289DA;
    text-decoration:none;
}
.ulink:hover{
    color:white;
    text-decoration:none;
}
::-webkit-scrollbar {
    width: 10px;
}
        
::-webkit-scrollbar-track {
    background: #2C2F33;
}
        
::-webkit-scrollbar-thumb {
    background: #414A4C;
}
        
::-webkit-scrollbar-thumb:hover {
    background: #555;
}